header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.514);
}
.menu {
    display: none;
}

.burgerlist {
    display: none;
}
header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Reduced gap for tighter layout */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
}

@media screen and (max-width: 425px) {
    .menu {
        display: unset;
        font-size: 25px;
        z-index: 1001;
    }
    header {
        height: 5dvh;
    }
    nav ul {
        display: none;
    }
    .burgerlist {
        position: fixed;
        display: unset;
        right: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.514);
        transform: translateX(200px);
        transition: 1s;
    }
    .burgerlist ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        right: 0;
        height: 100dvh;
    }
    .burgerlist ul li {
        margin-top: -30dvh;
    }
    .burgerlist ul li a {
        color: white;
    }
}